$primary: #310c0c;
$green: #4E6C50;
$secondary: #fff0db;
$tertiary: #FAECD6;
$khaki: #B9AFA2;



.btn {
  background-color: $primary;
  color: white;
}

h1 {
  color: $primary;
  text-align: center;
}

textarea {
  resize: none;
}

